@using HotFix.Models
@model HotFix.Models.WorkModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/the-big-picture.css" rel="stylesheet" type="text/css" />

<div class="full-event">
    <div class="jumbotron" style="background-color: #3c3d41; color:#fff;">
        <div class="container">
            <h1>@Model.Name</h1>
            <p>@Model.JobDescription</p>
            <label>Category:</label>  <span>@Model.Category</span>
            <br />
            @*<label>Time:</label>  <span>@Model.Time.ToString("dd/MM/yyyy HH:mm")</span>*@
            @*<p><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Housing")" role="button">Create House</a></p>*@
        </div>
    </div>
    <div class="container">
        @Html.Partial("_MapsModule", new GMapsModel() { Query = Model.Address.City })
    </div>
</div>