@using HotFix.Models
@model List<EventModel>

@{
    ViewBag.Title = "Events";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/the-big-picture.css" rel="stylesheet" type="text/css" />

<div class="full-event">
    <div class="jumbotron" style="background-color: #3c3d41; color:#fff;">
        <div class="container">
            <h1>Events near you</h1>
            <p>Here you can find a list of social events near you. You can also create a new event!</p>
            <p><a class="btn btn-success btn-lg" href="@Url.Action("Create", "Events")" role="button">Create Event</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var e in Model)
            {
                <div class="col-sm-12 col-md-3">
                    <div class="thumbnail" style="margin-bottom: 10px; background-color: #f2f2f2">
                        <img src="@e.Image" alt="work picture" style="height:100%;max-height:80px;margin-top:10px">
                        <div class="caption">
                            <h3>@e.Name</h3>
                            <p>@e.Description</p>
                            <p>@e.Address.Street, @e.Address.City</p>
                            <p>@e.Time</p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">Attend</a>
                                <a href="@Url.Action("Details", "Events", new { id = e.Id })" class="btn btn-default" role="button">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

