@using HotFix.Models
@model HotFix.Models.HousingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/the-big-picture.css" rel="stylesheet" type="text/css" />

<div class="full-event">
    <div class="jumbotron" style="background-color: #3c3d41; color:#fff;">
        <div class="container">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <label>Category:</label>  <span>@Model.Category</span>
            <br />
            <label>Rooms</label>  <span>T @Model.Rooms</span>
            <br />
            <img src="~/assets/img/bed.jpg" alt="work picture" style="height:100%;max-height:120px;margin-top:10px">
            <img src="~/assets/img/kitchen.jpg" alt="work picture" style="height:100%;max-height:120px;margin-top:10px">        
            <img src="~/assets/img/plant.jpg" alt="work picture" style="height:100%;max-height:120px;margin-top:10px">
        </div>
    </div>
    <div class="container">
        @Html.Partial("_MapsModule", new GMapsModel() { Query = Model.Address.City })
    </div>
</div>